html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    width: 50%;
    height: 100%;
    border: 1px solid #555;
    font-size: 2vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.left {
    background-color: #c9cf8a;
}

.right {
    background-color: #f9c7b0;
}